.textButton {
  background: transparent;
  border: 0px;
}

.walletButton {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  color: white;
  border: 10px;
  border-radius: 90px;
  padding: 1px 2px;
}

.fontHeader {
  background: rgba(31, 29, 43, 0.12);
  backdrop-filter: blur(45px);
}

.cardFooter {
  background: rgba(31, 29, 43, 0.1);
  backdrop-filter: blur(4px);
  color: white;
  height: 100%;
  width: 100%;
}

.cardServices {
  color: white;
  border-radius: 30px;
  border: 2px solid rgba(229, 233, 246, 0.4);
  width: 100%;
  align-self: center;
  position: relative;
}

.textFooter {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.borderSearch {
  border: 1px;
  border-radius: 90px;
  border-color: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
}

.cardExclusive {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: visible;
  margin-top: 220px;
}

.createButton {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  color: white;
  border: 10px;
  border-radius: 90px;
  min-width: 200px;
}

.ellipsGems {
  position: absolute;
  left: 42%;
  right: 40%;
  top: 90%;
}

.classRectangle {
  position: static;
}

.bif {
  position: relative;
}

.created {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardCollections {
  border-radius: 31.2016px;
  border: 2px solid rgba(229, 233, 246, 0.4);
  width: 100%;
  position: relative;
}

.articleCard {
  color: white;
  border-radius: 30px;
  border: 2px solid rgba(229, 233, 246, 0.4);
  align-self: center;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.lineColor {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  border-radius: 5px;
  width: 255.71px;
  height: 2px;
}

.createButton2 {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  color: white;
  border: 10px;
  border-radius: 90px;
  width: 20%;
  height: 100%;
  padding: 10px;
}

.ellipseRight {
  background: #73e0a9;
  opacity: 0.5;
  filter: blur(209px);
  height: 825px;
  width: 849px;
}

.ellipseRightBox {
  top: -40px;
  right: 1%;
}

.ellipseLeft {
  background: #5b68df;
  opacity: 0.5;
  filter: blur(209px);
  height: 925px;
  width: 949px;
}

.ellipseLeftBox {
  top: 300%;
  left: 1%;
}

.ellipseRightBox2 {
  top: 700%;
  right: 1%;
}

.ellipseLeftBox2 {
  top: 850%;
  left: 1%;
}

.ballPosition {
  top: -40px;
  right: 1%;
  z-index: 2;
}

