.textButton {
  background: rgba(31, 29, 43, 0.12);
  color: white;
  border: 10px;
  box-sizing: border-box;
  border-radius: 90px;
}

.walletButton {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  color: white;
  border: 10px;
  border-radius: 90px;
}

.fontHeader {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  backdrop-filter: blur(45px);
}

.cardFooter {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  backdrop-filter: blur(4px);
  color: white;
  height: 100%;
  width: 100%;
}

.cardServices {
  color: white;
  border-radius: 20px;
  border: 2px solid rgba(229, 233, 246, 0.4);
}

.textFooter {
  color: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
}